@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    background: linear-gradient(to right, #2c3e50, #34495e);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



header {
    background-color: #0d0d0d; /* Темный основной цвет */
    background: linear-gradient(to right, #1a252f, #22303f); /* Более темные оттенки для градиента */
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    padding: 3%;
    text-align: center;

}



main {
    padding: 5%;
}


.lite_cont {

    background: rgba(25, 25, 25, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    display: flex;
    gap: 20rem;

    padding: 5%;
    margin: 5%;


}


.lite_cont img {
    width: 40%;
    height: auto;
    border-radius: 25px;
    aspect-ratio: 16 / 9;

}

.text-div {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 6%;

}


main p {
    line-height: 1.6;
}

a {
    color: white;
    text-decoration: none;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 1.1em;
}


.separator {
    display: none;
}


footer {
    background-color: #0d0d0d;
    background: linear-gradient(to right, #1a252f, #22303f);
    width: 100%;
    padding: 3%;
    text-align: center;
    margin-top: auto;
}


@media (max-width: 1500px) {
    .lite_cont {
        flex-direction: row;
        gap: 2rem;
        padding: 3%;
        margin: 3%;
    }

    .text-div {
        width: 50%;
    }

    .lite_cont img {
        width: 45%;
        max-width: 100%; /* Гарантирует, что изображение не выйдет за границы */
        aspect-ratio: 16 / 9;
    }

    header, main {
        padding: 4%;
    }
}





@media max-width: 1024px {
    .lite_cont {
        flex-direction: row;
        gap: 2rem;
        padding: 3%;
        margin: 3%;
    }
    .text-div {
        width: 50%;
    }
    .lite_cont img {
        width: 45%;
        max-width: 100%; /* Гарантирует, что изображение не выйдет за границы */
        aspect-ratio: 16 / 9;
    }
    header, main {
        padding: 4%;
    }
}




@media (max-width: 965px) {
    header {
        padding: 6%;
        font-size: 120%;

    }

    main {
        padding: 8%;
    }

    .lite_cont {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 100%;

        height: 100%;



    }

    .text-div {
        width: 100%;
        gap: 10%;

    }

    .lite_cont img {
        width: auto;
        width: auto;
    }


    .separator {
        display: block;
        padding: 5%;
    }


}
