@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    background: linear-gradient(to right, #2c3e50, #34495e);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



header {
    background-color: #0d0d0d; /* Темный основной цвет */
    background: linear-gradient(to right, #1a252f, #22303f); /* Более темные оттенки для градиента */
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    padding: 3%;
    text-align: center;

}

header img {
    width: 40%;
    max-width: 150px;
}


main {
    padding: 5%;
}


.lite_cont {
    background: rgba(25, 25, 25, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    display: flex;
    padding: 5%;
    gap: 30%;

    margin: 5%;

}


.lite_cont img {
    width: 40%;
    border-radius: 25px;

}

.text-div {
    width: 40%;

}


main p {
    line-height: 1.6;
}

.ashki {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 1.1em;

    margin-top: 5%;
}







footer {
    background-color: #0d0d0d;
    background: linear-gradient(to right, #1a252f, #22303f);
    width: 100%;
    padding: 3%;
    text-align: center;
    margin-top: auto;
}




@media (max-width: 768px) {
    header {
        padding: 6%;
        font-size: 120%;

    }

    .lite_cont {
        text-align: center;
        display: flex;
        flex-direction: column;

    }

    .text-div {
        width: 100%;

    }

    a {
        padding: 1%;

    }

    .lite_cont img {
        width: 100%;
        padding: 8%;
    }


}
