@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    background: linear-gradient(to right, #2c3e50, #34495e);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    padding: 3%;
    text-align: center;

}


header img {
    width: 40%;
    max-width: 150px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-area: main;
    padding: 30px 0;
    gap: 4%;
    padding: 3%;
    margin: 2%;
}

main p {
    line-height: 1.6;
}


.lite_cont {
    background: rgba(25, 25, 25, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;

}

.ashki {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    padding-top: 15px;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 1.1em;
}


img {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    aspect-ratio: 16 / 9;
    object-fit: cover;
}


footer {
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 5%;
    padding: 3%;
    text-align: center;
}



@media (max-width: 768px) {
    header {
        padding: 6%;
        font-size: 120%;
        margin-bottom: 20%;

    }
    main {
        margin-bottom: 100%;

    }


    footer {
        margin-top: 190%;
        padding: 5%;

    }

}
